<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.md.mapper.MdLlmProviderConfigMapper">
  <resultMap id="BaseResultMap" type="org.qifu.md.entity.MdLlmProviderConfig">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="PROVIDER_CODE" property="providerCode" />
    <result column="PROVIDER_NAME" property="providerName" />
    <result column="PROVIDER_TYPE" property="providerType" />
    <result column="API_BASE_URL" property="apiBaseUrl" />
    <result column="DEFAULT_MODEL" property="defaultModel" />
    <result column="API_KEY_ENCRYPTED" jdbcType="LONGVARCHAR" property="apiKeyEncrypted" />
    <result column="API_KEY_MASKED" property="apiKeyMasked" />
    <result column="ENABLED_FLAG" property="enabledFlag" />
    <result column="DEFAULT_FLAG" property="defaultFlag" />
    <result column="CONNECT_STATUS" property="connectStatus" />
    <result column="LAST_TEST_AT" property="lastTestAt" />
    <result column="LAST_ERROR_MESSAGE" property="lastErrorMessage" />
    <result column="CONFIG_JSON" jdbcType="LONGVARCHAR" property="configJson" />
    <result column="CUSERID" property="cuserid" />
    <result column="CDATE" property="cdate" />
    <result column="UUSERID" property="uuserid" />
    <result column="UDATE" property="udate" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_llm_provider_config where OID=#{oid}
  </select>
  <sql id="conditions">
    <if test="oid != null and oid != ''">AND OID=#{oid}</if>
    <if test="providerCode != null and providerCode != ''">AND PROVIDER_CODE=#{providerCode}</if>
    <if test="providerCodeLike != null and providerCodeLike != ''">AND PROVIDER_CODE LIKE #{providerCodeLike}</if>
    <if test="providerNameLike != null and providerNameLike != ''">AND PROVIDER_NAME LIKE #{providerNameLike}</if>
    <if test="providerType != null and providerType != ''">AND PROVIDER_TYPE=#{providerType}</if>
    <if test="enabledFlag != null and enabledFlag != ''">AND ENABLED_FLAG=#{enabledFlag}</if>
    <if test="defaultFlag != null and defaultFlag != ''">AND DEFAULT_FLAG=#{defaultFlag}</if>
  </sql>
  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select * from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_llm_provider_config where 1=1
    <include refid="conditions"/>
    <if test="orderBy != null and orderBy != ''">ORDER BY ${orderBy} ${sortType}</if>
  </select>
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    <include refid="org.qifu.core.mapper.DB1Config.sql1"/>
    select * from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_llm_provider_config where 1=1
    <include refid="conditions"/>
    <include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*) from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_llm_provider_config where 1=1
    <include refid="conditions"/>
  </select>
  <insert id="insert" parameterType="org.qifu.md.entity.MdLlmProviderConfig">
    insert into <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_llm_provider_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">OID,</if>
      <if test="providerCode != null">PROVIDER_CODE,</if>
      <if test="providerName != null">PROVIDER_NAME,</if>
      <if test="providerType != null">PROVIDER_TYPE,</if>
      <if test="apiBaseUrl != null">API_BASE_URL,</if>
      <if test="defaultModel != null">DEFAULT_MODEL,</if>
      <if test="apiKeyEncrypted != null">API_KEY_ENCRYPTED,</if>
      <if test="apiKeyMasked != null">API_KEY_MASKED,</if>
      <if test="enabledFlag != null">ENABLED_FLAG,</if>
      <if test="defaultFlag != null">DEFAULT_FLAG,</if>
      <if test="connectStatus != null">CONNECT_STATUS,</if>
      <if test="lastTestAt != null">LAST_TEST_AT,</if>
      <if test="lastErrorMessage != null">LAST_ERROR_MESSAGE,</if>
      <if test="configJson != null">CONFIG_JSON,</if>
      <if test="cuserid != null">CUSERID,</if>
      <if test="cdate != null">CDATE,</if>
      <if test="uuserid != null">UUSERID,</if>
      <if test="udate != null">UDATE,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">#{oid,jdbcType=CHAR},</if>
      <if test="providerCode != null">#{providerCode,jdbcType=VARCHAR},</if>
      <if test="providerName != null">#{providerName,jdbcType=VARCHAR},</if>
      <if test="providerType != null">#{providerType,jdbcType=VARCHAR},</if>
      <if test="apiBaseUrl != null">#{apiBaseUrl,jdbcType=VARCHAR},</if>
      <if test="defaultModel != null">#{defaultModel,jdbcType=VARCHAR},</if>
      <if test="apiKeyEncrypted != null">#{apiKeyEncrypted,jdbcType=LONGVARCHAR},</if>
      <if test="apiKeyMasked != null">#{apiKeyMasked,jdbcType=VARCHAR},</if>
      <if test="enabledFlag != null">#{enabledFlag,jdbcType=CHAR},</if>
      <if test="defaultFlag != null">#{defaultFlag,jdbcType=CHAR},</if>
      <if test="connectStatus != null">#{connectStatus,jdbcType=VARCHAR},</if>
      <if test="lastTestAt != null">#{lastTestAt,jdbcType=TIMESTAMP},</if>
      <if test="lastErrorMessage != null">#{lastErrorMessage,jdbcType=VARCHAR},</if>
      <if test="configJson != null">#{configJson,jdbcType=LONGVARCHAR},</if>
      <if test="cuserid != null">#{cuserid,jdbcType=VARCHAR},</if>
      <if test="cdate != null">#{cdate,jdbcType=TIMESTAMP},</if>
      <if test="uuserid != null">#{uuserid,jdbcType=VARCHAR},</if>
      <if test="udate != null">#{udate,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>
  <update id="update" parameterType="org.qifu.md.entity.MdLlmProviderConfig">
    update <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_llm_provider_config
    <set>
      <if test="providerName != null">PROVIDER_NAME = #{providerName,jdbcType=VARCHAR},</if>
      <if test="providerType != null">PROVIDER_TYPE = #{providerType,jdbcType=VARCHAR},</if>
      API_BASE_URL = #{apiBaseUrl,jdbcType=VARCHAR},
      <if test="defaultModel != null">DEFAULT_MODEL = #{defaultModel,jdbcType=VARCHAR},</if>
      <if test="apiKeyEncrypted != null">API_KEY_ENCRYPTED = #{apiKeyEncrypted,jdbcType=LONGVARCHAR},</if>
      <if test="apiKeyMasked != null">API_KEY_MASKED = #{apiKeyMasked,jdbcType=VARCHAR},</if>
      <if test="enabledFlag != null">ENABLED_FLAG = #{enabledFlag,jdbcType=CHAR},</if>
      <if test="defaultFlag != null">DEFAULT_FLAG = #{defaultFlag,jdbcType=CHAR},</if>
      CONNECT_STATUS = #{connectStatus,jdbcType=VARCHAR},
      LAST_TEST_AT = #{lastTestAt,jdbcType=TIMESTAMP},
      LAST_ERROR_MESSAGE = #{lastErrorMessage,jdbcType=VARCHAR},
      CONFIG_JSON = #{configJson,jdbcType=LONGVARCHAR},
      <if test="uuserid != null">UUSERID = #{uuserid,jdbcType=VARCHAR},</if>
      <if test="udate != null">UDATE = #{udate,jdbcType=TIMESTAMP},</if>
    </set>
    where OID = #{oid,jdbcType=CHAR}
  </update>
  <delete id="delete" parameterType="org.qifu.md.entity.MdLlmProviderConfig">
    delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_llm_provider_config where OID=#{oid}
  </delete>
</mapper>
