<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.md.mapper.MdOkrKeyResultMapper">

  <resultMap id="BaseResultMap" type="org.qifu.md.entity.MdOkrKeyResult">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="OBJECTIVE_OID" jdbcType="CHAR" property="objectiveOid" />
    <result column="KR_CODE" jdbcType="VARCHAR" property="krCode" />
    <result column="KR_NAME" jdbcType="VARCHAR" property="krName" />
    <result column="KR_TYPE" jdbcType="VARCHAR" property="krType" />
    <result column="START_VALUE" jdbcType="DECIMAL" property="startValue" />
    <result column="TARGET_VALUE" jdbcType="DECIMAL" property="targetValue" />
    <result column="CURRENT_VALUE" jdbcType="DECIMAL" property="currentValue" />
    <result column="PROGRESS_VALUE" jdbcType="DECIMAL" property="progressValue" />
    <result column="WEIGHT_VALUE" jdbcType="DECIMAL" property="weightValue" />
    <result column="UNIT_NAME" jdbcType="VARCHAR" property="unitName" />
    <result column="SORT_NO" jdbcType="INTEGER" property="sortNo" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_okr_key_result
    where OID = #{oid,jdbcType=CHAR}
  </select>  
  
  <sql id="baseConditions">
    <if test="oid != null and oid != ''.toString() ">
        AND OID = #{oid,jdbcType=CHAR}
    </if>
    <if test="objectiveOid != null and objectiveOid != ''.toString() ">
        AND OBJECTIVE_OID = #{objectiveOid,jdbcType=CHAR}
    </if>
    <if test="krCode != null and krCode != ''.toString() ">
        AND KR_CODE = #{krCode,jdbcType=VARCHAR}
    </if>
    <if test="krCodeLike != null and krCodeLike != ''.toString() ">
        AND KR_CODE like #{krCodeLike,jdbcType=VARCHAR}
    </if>
    <if test="krNameLike != null and krNameLike != ''.toString() ">
        AND KR_NAME like #{krNameLike,jdbcType=VARCHAR}
    </if>
    <if test="krType != null and krType != ''.toString() ">
        AND KR_TYPE = #{krType,jdbcType=VARCHAR}
    </if>
    <if test="status != null and status != ''.toString() ">
        AND STATUS = #{status,jdbcType=VARCHAR}
    </if>
  </sql>
  
  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_okr_key_result
    WHERE 1=1
    <include refid="baseConditions" />
    <if test="orderBy != null and orderBy != ''.toString() and sortType != null and sortType != ''.toString() ">
        ORDER BY ${orderBy} ${sortType}
    </if>
  </select>    
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    <include refid="org.qifu.core.mapper.DB1Config.sql1"/>
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_okr_key_result
    WHERE 1=1
    <include refid="baseConditions" />
    <include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>  
  
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*) from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_okr_key_result
    WHERE 1=1
    <include refid="baseConditions" />
  </select>  
  
  <insert id="insert" parameterType="org.qifu.md.entity.MdOkrKeyResult"> 
    insert into <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_okr_key_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">OID,</if>
      <if test="objectiveOid != null">OBJECTIVE_OID,</if>
      <if test="krCode != null">KR_CODE,</if>
      <if test="krName != null">KR_NAME,</if>
      <if test="krType != null">KR_TYPE,</if>
      <if test="startValue != null">START_VALUE,</if>
      <if test="targetValue != null">TARGET_VALUE,</if>
      <if test="currentValue != null">CURRENT_VALUE,</if>
      <if test="progressValue != null">PROGRESS_VALUE,</if>
      <if test="weightValue != null">WEIGHT_VALUE,</if>
      <if test="unitName != null">UNIT_NAME,</if>
      <if test="sortNo != null">SORT_NO,</if>
      <if test="status != null">STATUS,</if>
      <if test="cuserid != null">CUSERID,</if>
      <if test="cdate != null">CDATE,</if>
      <if test="uuserid != null">UUSERID,</if>
      <if test="udate != null">UDATE,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">#{oid,jdbcType=CHAR},</if>
      <if test="objectiveOid != null">#{objectiveOid,jdbcType=CHAR},</if>
      <if test="krCode != null">#{krCode,jdbcType=VARCHAR},</if>
      <if test="krName != null">#{krName,jdbcType=VARCHAR},</if>
      <if test="krType != null">#{krType,jdbcType=VARCHAR},</if>
      <if test="startValue != null">#{startValue,jdbcType=DECIMAL},</if>
      <if test="targetValue != null">#{targetValue,jdbcType=DECIMAL},</if>
      <if test="currentValue != null">#{currentValue,jdbcType=DECIMAL},</if>
      <if test="progressValue != null">#{progressValue,jdbcType=DECIMAL},</if>
      <if test="weightValue != null">#{weightValue,jdbcType=DECIMAL},</if>
      <if test="unitName != null">#{unitName,jdbcType=VARCHAR},</if>
      <if test="sortNo != null">#{sortNo,jdbcType=INTEGER},</if>
      <if test="status != null">#{status,jdbcType=VARCHAR},</if>
      <if test="cuserid != null">#{cuserid,jdbcType=VARCHAR},</if>
      <if test="cdate != null">#{cdate,jdbcType=TIMESTAMP},</if>
      <if test="uuserid != null">#{uuserid,jdbcType=VARCHAR},</if>
      <if test="udate != null">#{udate,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>  
  
  <update id="update" parameterType="org.qifu.md.entity.MdOkrKeyResult">
    update <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_okr_key_result
    <set>
      <if test="objectiveOid != null">OBJECTIVE_OID = #{objectiveOid,jdbcType=CHAR},</if>
      <if test="krCode != null">KR_CODE = #{krCode,jdbcType=VARCHAR},</if>
      <if test="krName != null">KR_NAME = #{krName,jdbcType=VARCHAR},</if>
      <if test="krType != null">KR_TYPE = #{krType,jdbcType=VARCHAR},</if>
      START_VALUE = #{startValue,jdbcType=DECIMAL},
      TARGET_VALUE = #{targetValue,jdbcType=DECIMAL},
      CURRENT_VALUE = #{currentValue,jdbcType=DECIMAL},
      <if test="progressValue != null">PROGRESS_VALUE = #{progressValue,jdbcType=DECIMAL},</if>
      <if test="weightValue != null">WEIGHT_VALUE = #{weightValue,jdbcType=DECIMAL},</if>
      UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      <if test="sortNo != null">SORT_NO = #{sortNo,jdbcType=INTEGER},</if>
      <if test="status != null">STATUS = #{status,jdbcType=VARCHAR},</if>
      <if test="uuserid != null">UUSERID = #{uuserid,jdbcType=VARCHAR},</if>
      <if test="udate != null">UDATE = #{udate,jdbcType=TIMESTAMP},</if>
    </set>
    where OID = #{oid,jdbcType=CHAR}
  </update>  
  
  <delete id="delete" parameterType="org.qifu.md.entity.MdOkrKeyResult">
    delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_okr_key_result
    where OID = #{oid,jdbcType=CHAR}
  </delete>  
  
</mapper>
