<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.md.mapper.MdOrgMemberMapper">

  <resultMap id="BaseResultMap" type="org.qifu.md.entity.MdOrgMember">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="ORG_OID" jdbcType="CHAR" property="orgOid" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="DISPLAY_NAME" jdbcType="VARCHAR" property="displayName" />
    <result column="EMPLOYEE_ID" jdbcType="VARCHAR" property="employeeId" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="JOB_TITLE" jdbcType="VARCHAR" property="jobTitle" />
    <result column="IS_MANAGER" jdbcType="VARCHAR" property="isManager" />
    <result column="ENABLED" jdbcType="VARCHAR" property="enabled" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_org_member
    where OID = #{oid,jdbcType=CHAR}
  </select>  
  
  <sql id="baseConditions">
	<if test="oid != null and oid != ''.toString() ">
		AND OID = #{oid,jdbcType=CHAR}
	</if>
	<if test="orgOid != null and orgOid != ''.toString() ">
		AND ORG_OID = #{orgOid,jdbcType=CHAR}
	</if>
	<if test="account != null and account != ''.toString() ">
		AND ACCOUNT = #{account,jdbcType=VARCHAR}
	</if>
	<if test="enabled != null and enabled != ''.toString() ">
		AND ENABLED = #{enabled,jdbcType=VARCHAR}
	</if>
  </sql>
  
  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_org_member
    WHERE 1=1
	
	<include refid="baseConditions" />
		
	<if test="orderBy != null and orderBy != ''.toString() and sortType != null and sortType != ''.toString() ">
		ORDER BY  ${orderBy} ${sortType}
	</if>
  </select>    
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	<include refid="org.qifu.core.mapper.DB1Config.sql1"/>
  	
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_org_member
    WHERE 1=1
	
	<include refid="baseConditions" />
	
	<if test="accountLike != null and accountLike != ''.toString() ">
		AND ACCOUNT like #{accountLike,jdbcType=VARCHAR}
	</if>	
	<if test="displayNameLike != null and displayNameLike != ''.toString() ">
		AND DISPLAY_NAME like #{displayNameLike,jdbcType=VARCHAR}
	</if>	
	<if test="employeeIdLike != null and employeeIdLike != ''.toString() ">
		AND EMPLOYEE_ID like #{employeeIdLike,jdbcType=VARCHAR}
	</if>	
	<if test="emailLike != null and emailLike != ''.toString() ">
		AND EMAIL like #{emailLike,jdbcType=VARCHAR}
	</if>	
			
	<include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>  
  
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*) from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_org_member
    WHERE 1=1
	
	<include refid="baseConditions" />
	
	<if test="accountLike != null and accountLike != ''.toString() ">
		AND ACCOUNT like #{accountLike,jdbcType=VARCHAR}
	</if>	
	<if test="displayNameLike != null and displayNameLike != ''.toString() ">
		AND DISPLAY_NAME like #{displayNameLike,jdbcType=VARCHAR}
	</if>	
	<if test="employeeIdLike != null and employeeIdLike != ''.toString() ">
		AND EMPLOYEE_ID like #{employeeIdLike,jdbcType=VARCHAR}
	</if>	
	<if test="emailLike != null and emailLike != ''.toString() ">
		AND EMAIL like #{emailLike,jdbcType=VARCHAR}
	</if>	
	
  </select>  
  
  <insert id="insert" parameterType="org.qifu.md.entity.MdOrgMember"> 
    insert into <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_org_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="orgOid != null">
        ORG_OID,
      </if>
      <if test="account != null">
        ACCOUNT,
      </if>
      <if test="displayName != null">
        DISPLAY_NAME,
      </if>
      <if test="employeeId != null">
        EMPLOYEE_ID,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="jobTitle != null">
        JOB_TITLE,
      </if>
      <if test="isManager != null">
        IS_MANAGER,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
      <if test="uuserid != null">
        UUSERID,
      </if>
      <if test="udate != null">
        UDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="orgOid != null">
        #{orgOid,jdbcType=CHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null">
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="jobTitle != null">
        #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="isManager != null">
        #{isManager,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=VARCHAR},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uuserid != null">
        #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        #{udate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>  
  
  <update id="update" parameterType="org.qifu.md.entity.MdOrgMember">
    update <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_org_member
    <set>
      <if test="orgOid != null">
        ORG_OID = #{orgOid,jdbcType=CHAR},
      </if>
      <if test="account != null">
        ACCOUNT = #{account,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        DISPLAY_NAME = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null">
        EMPLOYEE_ID = #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="jobTitle != null">
        JOB_TITLE = #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="isManager != null">
        IS_MANAGER = #{isManager,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=VARCHAR},
      </if>
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OID = #{oid,jdbcType=CHAR}
  </update>  
  
  <delete id="delete" parameterType="org.qifu.md.entity.MdOrgMember">
    delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_org_member
    where OID = #{oid,jdbcType=CHAR}
  </delete>  
  
</mapper>
