<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.md.mapper.MdPasswordResetTokenMapper">

  <resultMap id="BaseResultMap" type="org.qifu.md.entity.MdPasswordResetToken">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="TOKEN_HASH" jdbcType="VARCHAR" property="tokenHash" />
    <result column="EXPIRES_TIME" jdbcType="TIMESTAMP" property="expiresTime" />
    <result column="USED_FLAG" jdbcType="VARCHAR" property="usedFlag" />
    <result column="USED_TIME" jdbcType="TIMESTAMP" property="usedTime" />
    <result column="REVOKED_FLAG" jdbcType="VARCHAR" property="revokedFlag" />
    <result column="REVOKED_TIME" jdbcType="TIMESTAMP" property="revokedTime" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_password_reset_token
    where OID = #{oid,jdbcType=CHAR}
  </select>

  <sql id="baseConditions">
    <if test="account != null and account != ''.toString() ">
      AND ACCOUNT = #{account,jdbcType=VARCHAR}
    </if>
    <if test="tokenHash != null and tokenHash != ''.toString() ">
      AND TOKEN_HASH = #{tokenHash,jdbcType=VARCHAR}
    </if>
    <if test="usedFlag != null and usedFlag != ''.toString() ">
      AND USED_FLAG = #{usedFlag,jdbcType=VARCHAR}
    </if>
    <if test="revokedFlag != null and revokedFlag != ''.toString() ">
      AND REVOKED_FLAG = #{revokedFlag,jdbcType=VARCHAR}
    </if>
  </sql>

  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_password_reset_token
    WHERE 1=1
    <include refid="baseConditions" />
    <if test="orderBy != null and orderBy != ''.toString() and sortType != null and sortType != ''.toString() ">
      ORDER BY ${orderBy} ${sortType}
    </if>
  </select>

  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    <include refid="org.qifu.core.mapper.DB1Config.sql1"/>
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_password_reset_token
    WHERE 1=1
    <include refid="baseConditions" />
    <include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>

  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*)
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_password_reset_token
    WHERE 1=1
    <include refid="baseConditions" />
  </select>

  <insert id="insert" parameterType="org.qifu.md.entity.MdPasswordResetToken">
    insert into <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_password_reset_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">OID,</if>
      <if test="account != null">ACCOUNT,</if>
      <if test="tokenHash != null">TOKEN_HASH,</if>
      <if test="expiresTime != null">EXPIRES_TIME,</if>
      <if test="usedFlag != null">USED_FLAG,</if>
      <if test="usedTime != null">USED_TIME,</if>
      <if test="revokedFlag != null">REVOKED_FLAG,</if>
      <if test="revokedTime != null">REVOKED_TIME,</if>
      <if test="cuserid != null">CUSERID,</if>
      <if test="cdate != null">CDATE,</if>
      <if test="uuserid != null">UUSERID,</if>
      <if test="udate != null">UDATE,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">#{oid,jdbcType=CHAR},</if>
      <if test="account != null">#{account,jdbcType=VARCHAR},</if>
      <if test="tokenHash != null">#{tokenHash,jdbcType=VARCHAR},</if>
      <if test="expiresTime != null">#{expiresTime,jdbcType=TIMESTAMP},</if>
      <if test="usedFlag != null">#{usedFlag,jdbcType=VARCHAR},</if>
      <if test="usedTime != null">#{usedTime,jdbcType=TIMESTAMP},</if>
      <if test="revokedFlag != null">#{revokedFlag,jdbcType=VARCHAR},</if>
      <if test="revokedTime != null">#{revokedTime,jdbcType=TIMESTAMP},</if>
      <if test="cuserid != null">#{cuserid,jdbcType=VARCHAR},</if>
      <if test="cdate != null">#{cdate,jdbcType=TIMESTAMP},</if>
      <if test="uuserid != null">#{uuserid,jdbcType=VARCHAR},</if>
      <if test="udate != null">#{udate,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>

  <update id="update" parameterType="org.qifu.md.entity.MdPasswordResetToken">
    update <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_password_reset_token
    <set>
      <if test="account != null">ACCOUNT = #{account,jdbcType=VARCHAR},</if>
      <if test="tokenHash != null">TOKEN_HASH = #{tokenHash,jdbcType=VARCHAR},</if>
      <if test="expiresTime != null">EXPIRES_TIME = #{expiresTime,jdbcType=TIMESTAMP},</if>
      <if test="usedFlag != null">USED_FLAG = #{usedFlag,jdbcType=VARCHAR},</if>
      <if test="usedTime != null">USED_TIME = #{usedTime,jdbcType=TIMESTAMP},</if>
      <if test="revokedFlag != null">REVOKED_FLAG = #{revokedFlag,jdbcType=VARCHAR},</if>
      <if test="revokedTime != null">REVOKED_TIME = #{revokedTime,jdbcType=TIMESTAMP},</if>
      <if test="uuserid != null">UUSERID = #{uuserid,jdbcType=VARCHAR},</if>
      <if test="udate != null">UDATE = #{udate,jdbcType=TIMESTAMP},</if>
    </set>
    where OID = #{oid,jdbcType=CHAR}
  </update>

  <delete id="delete" parameterType="org.qifu.md.entity.MdPasswordResetToken">
    delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_password_reset_token
    where OID = #{oid,jdbcType=CHAR}
  </delete>

  <select id="selectActiveByTokenHash" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_password_reset_token
    where TOKEN_HASH = #{tokenHash,jdbcType=VARCHAR}
      and USED_FLAG = 'N'
      and REVOKED_FLAG = 'N'
      and EXPIRES_TIME &gt; current_timestamp()
  </select>

  <update id="revokeActiveTokensByAccount" parameterType="java.util.HashMap">
    update <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_password_reset_token
    set REVOKED_FLAG = 'Y',
        REVOKED_TIME = current_timestamp(),
        UDATE = current_timestamp()
    where ACCOUNT = #{account,jdbcType=VARCHAR}
      and USED_FLAG = 'N'
      and REVOKED_FLAG = 'N'
  </update>

</mapper>
