<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.md.mapper.MdStrategyThemeMapper">

  <resultMap id="BaseResultMap" type="org.qifu.md.entity.MdStrategyTheme">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="WORKSPACE_OID" jdbcType="CHAR" property="workspaceOid" />
    <result column="THEME_CODE" jdbcType="VARCHAR" property="themeCode" />
    <result column="THEME_NAME" jdbcType="VARCHAR" property="themeName" />
    <result column="WEIGHT_VALUE" jdbcType="DECIMAL" property="weightValue" />
    <result column="SORT_NO" jdbcType="INTEGER" property="sortNo" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_strategy_theme
    where OID = #{oid,jdbcType=CHAR}
  </select>  
  
  <sql id="baseConditions">
    <if test="oid != null and oid != ''.toString() ">
        AND OID = #{oid,jdbcType=CHAR}
    </if>
    <if test="workspaceOid != null and workspaceOid != ''.toString() ">
        AND WORKSPACE_OID = #{workspaceOid,jdbcType=CHAR}
    </if>
    <if test="themeCode != null and themeCode != ''.toString() ">
        AND THEME_CODE = #{themeCode,jdbcType=VARCHAR}
    </if>
    <if test="themeCodeLike != null and themeCodeLike != ''.toString() ">
        AND THEME_CODE LIKE #{themeCodeLike,jdbcType=VARCHAR}
    </if>
    <if test="themeName != null and themeName != ''.toString() ">
        AND THEME_NAME = #{themeName,jdbcType=VARCHAR}
    </if>
    <if test="themeNameLike != null and themeNameLike != ''.toString() ">
        AND THEME_NAME LIKE #{themeNameLike,jdbcType=VARCHAR}
    </if>
  </sql>
  
  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_strategy_theme
    WHERE 1=1
    <include refid="baseConditions" />
    <if test="orderBy != null and orderBy != ''.toString() and sortType != null and sortType != ''.toString() ">
        ORDER BY ${orderBy} ${sortType}
    </if>
  </select>    
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    <include refid="org.qifu.core.mapper.DB1Config.sql1"/>
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_strategy_theme
    WHERE 1=1
    <include refid="baseConditions" />
    <include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>  
  
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*) from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_strategy_theme
    WHERE 1=1
    <include refid="baseConditions" />
  </select>  
  
  <insert id="insert" parameterType="org.qifu.md.entity.MdStrategyTheme"> 
    insert into <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_strategy_theme
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">OID,</if>
      <if test="workspaceOid != null">WORKSPACE_OID,</if>
      <if test="themeCode != null">THEME_CODE,</if>
      <if test="themeName != null">THEME_NAME,</if>
      <if test="weightValue != null">WEIGHT_VALUE,</if>
      <if test="sortNo != null">SORT_NO,</if>
      <if test="description != null">DESCRIPTION,</if>
      <if test="cuserid != null">CUSERID,</if>
      <if test="cdate != null">CDATE,</if>
      <if test="uuserid != null">UUSERID,</if>
      <if test="udate != null">UDATE,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">#{oid,jdbcType=CHAR},</if>
      <if test="workspaceOid != null">#{workspaceOid,jdbcType=CHAR},</if>
      <if test="themeCode != null">#{themeCode,jdbcType=VARCHAR},</if>
      <if test="themeName != null">#{themeName,jdbcType=VARCHAR},</if>
      <if test="weightValue != null">#{weightValue,jdbcType=DECIMAL},</if>
      <if test="sortNo != null">#{sortNo,jdbcType=INTEGER},</if>
      <if test="description != null">#{description,jdbcType=VARCHAR},</if>
      <if test="cuserid != null">#{cuserid,jdbcType=VARCHAR},</if>
      <if test="cdate != null">#{cdate,jdbcType=TIMESTAMP},</if>
      <if test="uuserid != null">#{uuserid,jdbcType=VARCHAR},</if>
      <if test="udate != null">#{udate,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>  
  
  <update id="update" parameterType="org.qifu.md.entity.MdStrategyTheme">
    update <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_strategy_theme
    <set>
      <if test="workspaceOid != null">WORKSPACE_OID = #{workspaceOid,jdbcType=CHAR},</if>
      <if test="themeCode != null">THEME_CODE = #{themeCode,jdbcType=VARCHAR},</if>
      <if test="themeName != null">THEME_NAME = #{themeName,jdbcType=VARCHAR},</if>
      <if test="weightValue != null">WEIGHT_VALUE = #{weightValue,jdbcType=DECIMAL},</if>
      <if test="sortNo != null">SORT_NO = #{sortNo,jdbcType=INTEGER},</if>
      <if test="description != null">DESCRIPTION = #{description,jdbcType=VARCHAR},</if>
      <if test="uuserid != null">UUSERID = #{uuserid,jdbcType=VARCHAR},</if>
      <if test="udate != null">UDATE = #{udate,jdbcType=TIMESTAMP},</if>
    </set>
    where OID = #{oid,jdbcType=CHAR}
  </update>  
  
  <delete id="delete" parameterType="org.qifu.md.entity.MdStrategyTheme">
    delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_strategy_theme
    where OID = #{oid,jdbcType=CHAR}
  </delete>  
  
</mapper>
