<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.md.mapper.MdStrategyObjectiveMapper">

  <resultMap id="BaseResultMap" type="org.qifu.md.entity.MdStrategyObjective">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="THEME_OID" jdbcType="CHAR" property="themeOid" />
    <result column="OBJECTIVE_CODE" jdbcType="VARCHAR" property="objectiveCode" />
    <result column="OBJECTIVE_NAME" jdbcType="VARCHAR" property="objectiveName" />
    <result column="WEIGHT_VALUE" jdbcType="DECIMAL" property="weightValue" />
    <result column="SORT_NO" jdbcType="INTEGER" property="sortNo" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_strategy_objective
    where OID = #{oid,jdbcType=CHAR}
  </select>  
  
  <sql id="baseConditions">
    <if test="oid != null and oid != ''.toString() ">
        AND OID = #{oid,jdbcType=CHAR}
    </if>
    <if test="themeOid != null and themeOid != ''.toString() ">
        AND THEME_OID = #{themeOid,jdbcType=CHAR}
    </if>
    <if test="objectiveCode != null and objectiveCode != ''.toString() ">
        AND OBJECTIVE_CODE = #{objectiveCode,jdbcType=VARCHAR}
    </if>
    <if test="objectiveCodeLike != null and objectiveCodeLike != ''.toString() ">
        AND OBJECTIVE_CODE LIKE #{objectiveCodeLike,jdbcType=VARCHAR}
    </if>
    <if test="objectiveName != null and objectiveName != ''.toString() ">
        AND OBJECTIVE_NAME = #{objectiveName,jdbcType=VARCHAR}
    </if>
    <if test="objectiveNameLike != null and objectiveNameLike != ''.toString() ">
        AND OBJECTIVE_NAME LIKE #{objectiveNameLike,jdbcType=VARCHAR}
    </if>
  </sql>
  
  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_strategy_objective
    WHERE 1=1
    <include refid="baseConditions" />
    <if test="orderBy != null and orderBy != ''.toString() and sortType != null and sortType != ''.toString() ">
        ORDER BY ${orderBy} ${sortType}
    </if>
  </select>    
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    <include refid="org.qifu.core.mapper.DB1Config.sql1"/>
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_strategy_objective
    WHERE 1=1
    <include refid="baseConditions" />
    <include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>  
  
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*) from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_strategy_objective
    WHERE 1=1
    <include refid="baseConditions" />
  </select>  
  
  <insert id="insert" parameterType="org.qifu.md.entity.MdStrategyObjective"> 
    insert into <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_strategy_objective
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">OID,</if>
      <if test="themeOid != null">THEME_OID,</if>
      <if test="objectiveCode != null">OBJECTIVE_CODE,</if>
      <if test="objectiveName != null">OBJECTIVE_NAME,</if>
      <if test="weightValue != null">WEIGHT_VALUE,</if>
      <if test="sortNo != null">SORT_NO,</if>
      <if test="description != null">DESCRIPTION,</if>
      <if test="cuserid != null">CUSERID,</if>
      <if test="cdate != null">CDATE,</if>
      <if test="uuserid != null">UUSERID,</if>
      <if test="udate != null">UDATE,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">#{oid,jdbcType=CHAR},</if>
      <if test="themeOid != null">#{themeOid,jdbcType=CHAR},</if>
      <if test="objectiveCode != null">#{objectiveCode,jdbcType=VARCHAR},</if>
      <if test="objectiveName != null">#{objectiveName,jdbcType=VARCHAR},</if>
      <if test="weightValue != null">#{weightValue,jdbcType=DECIMAL},</if>
      <if test="sortNo != null">#{sortNo,jdbcType=INTEGER},</if>
      <if test="description != null">#{description,jdbcType=VARCHAR},</if>
      <if test="cuserid != null">#{cuserid,jdbcType=VARCHAR},</if>
      <if test="cdate != null">#{cdate,jdbcType=TIMESTAMP},</if>
      <if test="uuserid != null">#{uuserid,jdbcType=VARCHAR},</if>
      <if test="udate != null">#{udate,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>  
  
  <update id="update" parameterType="org.qifu.md.entity.MdStrategyObjective">
    update <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_strategy_objective
    <set>
      <if test="themeOid != null">THEME_OID = #{themeOid,jdbcType=CHAR},</if>
      <if test="objectiveCode != null">OBJECTIVE_CODE = #{objectiveCode,jdbcType=VARCHAR},</if>
      <if test="objectiveName != null">OBJECTIVE_NAME = #{objectiveName,jdbcType=VARCHAR},</if>
      <if test="weightValue != null">WEIGHT_VALUE = #{weightValue,jdbcType=DECIMAL},</if>
      <if test="sortNo != null">SORT_NO = #{sortNo,jdbcType=INTEGER},</if>
      <if test="description != null">DESCRIPTION = #{description,jdbcType=VARCHAR},</if>
      <if test="uuserid != null">UUSERID = #{uuserid,jdbcType=VARCHAR},</if>
      <if test="udate != null">UDATE = #{udate,jdbcType=TIMESTAMP},</if>
    </set>
    where OID = #{oid,jdbcType=CHAR}
  </update>  
  
  <delete id="delete" parameterType="org.qifu.md.entity.MdStrategyObjective">
    delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>md_strategy_objective
    where OID = #{oid,jdbcType=CHAR}
  </delete>  
  
</mapper>
